{#

 # The site layout template
 # ------------------------
 #
 # This layout template extends the _layouts/base.html layout, and defines the
 # main site layout: the header, footer, and main content area.
 #
 # It’s never accessed directly. Instead it is extended by all of our main site
 # templates.
 #
 # This template defines one block region, `main`, which should be extended by
 # child templates to define the main contents for the page.
-#}

{% extends "_layouts/base" %}

{# Define the site navigation #}
{% set nav = {
	services: { title: "Ready to Buy", desc: "Services" },
	work:     { title: "Sell to Us", desc: "Our Work" },
	news:     { title: "List a House", desc: "The Latest" }
} %}

{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
	{% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}

{# Set the `title` variable to the nav item that matches the first segment #}
{% if nav[bodyClass] is defined %}
	{% set title %}{% if title is defined %}{{ title }} - {% endif %}{{ nav[bodyClass].title }}{% endset %}
{% endif %}


{% block body %}
	<div id="bar" class="hide">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex12">
				<div id="social">
					<a href="https://dribbble.com/" data-icon="dribbble" title="Happy Lager on Dribbble"></a>
					<a href="https://twitter.com/" data-icon="twitter" title="Happy Lager on Twitter"></a>
					<a href="https://www.facebook.com/" data-icon="facebook" title="Happy Lager on Facebook"></a>
				</div>
				<div id="search">
					<form action="{{ url('search/results') }}" class="search-form">
						<input type="search" name="q" placeholder="Search">
					</form>
				</div>
			</div>
		</div>
	</div>

	<header id="header">
		<div class="flex">
			<div class="g1-flex4 g2-flex1 g3-flex12">
				<h1><a href="{{ siteUrl }}"><img src="{{ craft.config.environmentVariables.assetsBaseUrl }}/images/homesource-logo.jpg" width="173px" alt="Homesource - Simple Buy. Simple Sell. Real Estate."></a></h1>
      </div>
      <div class="g1-flex4 g2-flex6 g3-flex12">
        <nav>
					<ul>
            <li>
              <button class="button-w-icon" href="{{ url('portal') }}"><i class="icon-gear"></i>Tenant Portal</button>
            </li>
						{% for slug, item in nav %}
							<li>
								<a href="{{ url(slug) }}" {% if craft.request.firstSegment == slug %}class="sel"{% endif %}>
									<strong>{{ item.title }}</strong>
									<!-- <span>-</span> -->
									<!-- <em>{{ item.desc }}</em> -->
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<main id="main" role="main">
		{% block main %}{% endblock %}
	</main>

	<footer id="footer">
		<div class="flex">
			<div class="g1-flex4 g2-flex3 g3-flex6">
				<h3>Stay Connected</h3>
        <p>Sign up for special offers and email updates. We do not share your personal information.</p>
        <form action="" class="signup-form">
          <input type="text" name="q" placeholder="Please Enter your Email Address">
          <input type="submit" name="Submit" value="Sign Up">
        </form>
        <div class="social-buttons">
          <a href="#" title="Email Us"><i class="icon-envelope"></i></a>
          <a href="#" title="Find Us on Facebook"><i class="icon-facebook"></i></a>
          <a href="#" title="Connect on LinkedIn"><i class="icon-linkedin"></i></a>
        </div>
			</div>
			<div class="g1-flex4 g2-flex3 g3-flex6">
        <h3>Navigate</h3>
          <div class="flex">
            <div class="g1-flex4 g2-flex3 g3-flex6">
              <ul>
                <li><a href="#" title="">List A House</a></li>
                <li><a href="#" title="">Sell to Us</a></li>
                <li><a href="#" title="">Buy A Home</a></li>
                <li><a href="#" title="">Home Listings</a></li>
              </ul>
            </div>
            <div class="g1-flex4 g2-flex3 g3-flex6">
              <ul>
                <li><a href="#" title="">Meet the Team</a></li>
                <li><a href="#" title="">How Homesource Helps You</a></li>
                <li><a href="#" title="">What Our Customers Say</a></li>
                <li><a href="#" title="">Contact Us</a></li>
              </ul>
          </div>
        </div>
			</div>
		</div>
    <div class="contact-info">
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex12">
          <hr/>
          HOMESOURCE PARTNERS, LLC <span class="bull">&bull;</span>
          3015 PENNSYLVANIA AVE, COLORADO SPRINGS, CO 80907 <span class="bull">&bull;</span>
          <a href="#">MAP</a> <span class="bull">&bull;</span>
          OFFICE: <a href="#">(719) 328-0300</a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex12">
          <a href="{{ footer.privacyPolicyLabel }}">{{ footer.privacyPolicyLabel }}</a>
          <a href="{{ footer.termsLabel }}">{{ footer.termsLabel }}</a>
          <span>{{ footer.copyrightNotice|replace('{year}', now|date('Y')) }}</span>
        </div>
      </div>
    </div>
	</footer>
{% endblock %}
